{% extends 'adminhome.html' %}
{% block content %}
<form method="POST" class="post-form" action="/encryptms">
    {% csrf_token %}
<center></br></br></br>
    <div style=background-color:yellow;>{{errmsg}}</div>
<table>
    <tr>
        <th>Message</th>
    </tr>
    <tr>
        <td>Username:<input type="text" name="sendusername" class="form-control" value="{{username}}" readonly required></td>
    </tr>
    <tr>
        <td hidden=hidden><input type="text" name="option" class="form-control" value="1"></td>
    </tr>
    <tr>
        <td> <textarea name="txtmsg" placeholder="Type your message"  rows=4 cols=85></textarea></td>
    </tr>
    <tr>
        <td hidden=hidden><input type="text" name="txttousername" class="form-control" value="null"  required></td>
    </tr>
    <tr>
        <td><a href="/userhome" class="btn btn-primary">Home</a>
            <input type="reset" name="reset" class="btn btn-danger" style="width:200px;" value="Reset">
            <button  type="submit" class="btn btn-success" style="width:200px;">Encrypt & Send</button></td>
        </tr>
</table>
</form>
</center>

    
    

{% endblock %}