{% extends 'userhome.html' %}
{% block content %}
<form method="POST" class="post-form" action="encryptmsg">
    {% csrf_token %}
<center></br></br></br>
    <div style=background-color:yellow;>{{errmsg}}</div>
<table>
    <a href="/broad" class="btn btn-warning">Broadcast Messaging</a><br/><br/>
    <a href="/unicast" class="btn btn-warning">Persoanl Messaging</a>

    <br/><br/><br/><br/>
    <a href="/userhome" class="btn btn-primary">HOME</a>
</table>
</form>
</center>

    
    

{% endblock %}