<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>User Area</title>
    <style>
        a{
            width:170px;
          }
         body{
            background-color:#151b54;
            padding-top:25rem;
            padding-left:60rem
         }
         
    </style>
</head>
        {% csrf_token %}
        {% block content %}
        
            <body>
                <div class="container">
                    <input type="text" name="decrypt1" style="padding-top:5rem; background-color:white;"  value="{{msg}}" readonly>
                </div>
            </body>
        {% endblock %}
    

</html>